
body {
	
	header {

			img {
			  margin-left: 596px;
			  width: 233px;
			  height: 400px;
			}
	}

	h1 {
	  font-family: 'Dancing Script', cursive;
	  margin-left: 566px;
	  font-size: 40px;
	}
} 

