body {
	margin: 0px;
}

body header img {
	margin-left: 596px;
	width: 1487px;
	height: 440px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-left: 53px;
    no-repeat; 
}

/*body > header > img:hover { 
  width: 233px;
  height: 400px;  
  background: url(http://nancychovancek.files.wordpress.com/2012/09/full-glass-of-beer.gif) 
  no-repeat; 
} */
body > header {
	border-top: solid 25px;
	border-bottom: solid 24px;
}

body h1 {
  font-family: 'Dancing Script', cursive;
  margin-left: 652px;
  font-size: 40px; }

  #usr {
		width: 187px;
		height: 21px;
		width: 200px;
   		padding: 20px;
   		float: center;
   		border-radius: 15px;
    	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    	box-sizing: border-box; 
	}

	#pwd {
		width: 187px;
		height: 21px;
		width: 200px;
   		padding: 20px;
   		padding-bottom: 20px;
   		float: center;
   		border-radius: 15px;
    	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
    	box-sizing: border-box; 

	}

	body > div > form > div:nth-child(1) > h2 > label {
	  	font-family: 'Courgette', cursive;
		font-size: 20px;
		padding-left: 666px;
	}

	body > div > form > div:nth-child(2) > h2 > label {
		font-family: 'Courgette', cursive;
		font-size: 20px;
		padding-left: 666px;
	}

	header {
		/*background-color: black;*/
		/*padding-top: 20px;
		padding-bottom: 18px;*/
	}
	
	body > div.button > center > button {
	  	font-family: 'Courgette', cursive;
	}
	
	body > footer > p {
		background-color: black;
		margin: 1px;
		height: 33px;
		width: 1596px;
		margin-bottom: 0px;
		margin-top: 41px;
	}
	
	body > div.button {
		padding-top: 6px;
	}

	body > div.button > center > button {
		width: 100px;
		height: 21px;
	}

	body > div.button > center > button:hover { 
		-moz-box-shadow: 0 0 10px #ccc; 
		-webkit-box-shadow: 0 0 10px #ccc; 
		box-shadow: 0 0 10px #ccc; 
	}


	body > div.container > form > div:nth-child(2) > h2 {
		margin-top: 8px;
		margin-bottom: -18px;
	}
	
	body > div.container > form > div:nth-child(1) > h2 {
		margin-bottom: -15px;
		margin-top: 0px;
	}

	body > div.container > form > div:nth-child(1) > h2 > label {
		padding-left: 743px;
	}

	body > div.container > form > div:nth-child(2) > h2 > label {
		padding-left: 743px;
	}


	.headerpic {
	width: 1487px;
	height: 440px;
	}

	.image {
	    width: 100%;
	    height: 100%;    
	}

	.image img {
	    -webkit-transition: all 1s ease; /* Safari and Chrome */
	    -moz-transition: all 1s ease; /* Firefox */
	    -ms-transition: all 1s ease; /* IE 9 */
	    -o-transition: all 1s ease; /* Opera */
	    transition: all 1s ease;
	}

	.headerpic:hover {
	    -webkit-transform:scale(1.25); /* Safari and Chrome */
	    -moz-transform:scale(1.25); /* Firefox */
	    -ms-transform:scale(1.25); /* IE 9 */
	    -o-transform:scale(1.25); /* Opera */
	     transform:scale(1.25);
	}
/*# sourceMappingURL=BeerOClock.css.map */
